PORT=5000
NODE_ENV=development

# Database Connection (MySQL)
# Update DB_HOST to your Oracle Cloud VM IP when ready.



#Development environment

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=splitwise_user
DB_PASSWORD=Ajaykumar@12.
DB_NAME=splitwise

# Security
JWT_SECRET=splitwise_jwt_secret_dev_key_987654321
JWT_EXPIRE=7d


# Host: localhost
# Port: 3306
# Database: splitwise
# Username: splitwise_user
# Password: StrongPassword123!